.Contributors {
    background-image: url('../assets/ContributorBack.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.con-introduce {
    color: white;
    padding-top: 4em;
    padding-bottom: 3em;
    margin: auto;
    max-width: 50%;
}
.con-introduce-title {
    font-size: 48px;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 2rem;
}
.con-introduce-content {
    font-size: 18px;
    font-weight: 500;
}
.gradient-header-spliter {
    width: 50%;
    margin: 0px auto;
    border-image-slice: 1;
    border-bottom: 0px;
    border-image-source: linear-gradient(270deg, rgba(9, 228, 97, 0) 0%, rgb(206, 239, 0) 17.19%, rgb(81, 249, 128) 34.38%, rgb(45, 81, 237) 50%, rgb(0, 96, 241) 67.19%, rgb(241, 0, 217) 83.33%, rgba(45, 73, 85, 0) 99.75%);

    box-sizing: content-box;
    height: 0;
    overflow: visible;

    border-left-style: inset;
    border-left-width: 1px;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-style: inset;
    border-top-width: 1px;
}
.avatar-section {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0px;
    padding: 3%;

}

@media only screen and (max-width: 1024px) {
    .con-introduce {
        max-width: 70%;
    }
}

@media only screen and (max-width: 576px) {
    .con-introduce {
        max-width: 100%;
    }
    .con-introduce-title {
        font-size: 24px;
    }
}

